@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-SemiBold.ttf);
    font-weight: 600;
}
*{
    font-family: 'GolosText';
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    background-color: #2B2A2C;
}
.container{
    max-width: 1208px;
    margin: 0 auto;
}
.post{
    padding-top: 78px;   
    padding-bottom: 77px;
    &__wrap{
        background-color: #2B2A2C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        border: 2px #525252 solid;
        padding: 5px;
        transition: all .3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__block{
        max-width: 620px
    }
    &__text{
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item{
        margin-bottom: 25px;
    }
}
.post2{
    padding-bottom: 100px;
    font-family: 'GolosText';
    font-weight: 400;
    font-size: 24px;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px #525252 solid;
        padding: 5px;
        transition: all .3s ease;
        background-color: #2B2A2C;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__box{
        max-width: 500px;
    }
    &__text{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.span{
    color: #F2C172;
}