@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-SemiBold.ttf);
    font-weight: 600;
}
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1em;
}
a{
    text-decoration: none;
}
main{
    background-color: #2B2A2C;
}
.container{
    max-width: 1208px;
    margin: 0 auto;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link{
        color: white;
        font-family: 'GolosText';
        margin-right: 84px;
        font-weight: 400;
        font-size: 22px;
        transition: all .3s ease;
        &:hover{
            transform: scale(.9);
            cursor: pointer; 
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__img{
        width: 300px;
        height: 150px;
        transition: all .3s ease;
        &:hover{
            transform: scale(.9);
            cursor: pointer; 
        }
    }
}
.why{
    padding-bottom: 178px;
    &__box{
        display: flex;
        justify-content: space-between;
        &-outside{
            padding-top: 66px;
        }
        &-inside{
            display: flex;
            align-items: center;
        }
        &-text{
            display: flex;
            flex-direction: column;
        }
    }
    &__img{
        width: 500px;
        height: 375px;
    }
    &__text{
        font-family: 'GolosText';
        color: white;
        font-size: 22px;
        font-weight: 400;
        &-outside{
            max-width: 650px;
            margin-top: 60px;
        }
        &-inside{
            max-width: 486px;
        }
    }
    &__title{
        color: #F4C609;
        font-weight: 700;
        font-size: 36px;
        font-family: 'ElMessiri';
    }
}
.new{
    padding-bottom: 95px;
    &__box{
        display: flex;
        &-title{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-love{
            display: flex;
            justify-content: center;
        }
        &-text{
            display: flex;
            justify-content: space-between;
        }
    }
    &__title{
        font-family: 'ElMessiri';
        font-weight: 700;
        font-size: 34px;
    }
    &__subtitle{
        font-family: 'ElMessiri';
        font-weight: 700;
        font-size: 30px;
        max-width: 550px;
    }
    &__text{
        font-family: 'GolosText';
        font-weight: 600;
        font-size: 24px;
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        max-width: 500px;
    }
}
.footer{
    font-family: 'GolosText';
    padding-top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    &__wrap{
        display: flex;
        justify-content: space-around;
        padding-bottom: 33px;
    }
    &__block{
        display: flex;
        align-items: center;
    }
    &__box{
        display: flex;
        justify-content: space-around;
        &-text{
            color: #949494;
            font-weight: 400;
            font-size: 14px;
        }
    }
    &__text{
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 20px;
        &-email{
            max-width: 500px;
            text-align: center;
            margin: 0 32px;
        }
        &-link{
            display: flex;
            transition: all .3s ease;
            &:hover{
                transform: scale(.9);
            }
        }
        &-phone{
            margin-right: 25px;
        }
        &-VK{
            max-width: 250px;
        }
        &-img{
            width: 40px;
        }
    }
}
.link{
    color: #F4C609;
    text-decoration: underline;
}