@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GolosText;
    src: url(../fonts/GolosText-SemiBold.ttf);
    font-weight: 600;
}
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.main{
    background-color: #2B2A2C;
    &__title{
        font-family: 'ElMessiri';
        @media (max-width: 376px) {
            font-size: 25px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 15px;
        }
    }
    &__box{
        &-title{
            max-width: 1208px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 25px;
            margin-bottom: 20px;
            @media (max-width: 376px) {
                text-align: center;
                align-items: center;
            }
        }
        &-subtitle{
            font-family: 'GolosText';
            font-weight: 400;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.2);
            }
            @media (max-width: 376px) {
                margin-top: 20px;
                font-size: 16px;
            }
        }
        &-box{
            @media (max-width: 376px) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.container{
    max-width: 1208px;
    margin: 0 auto;
    @media (max-width:376px) {
        max-width: 375px;
    }
}
.burgers{
    padding-bottom: 40px;
    font-family: 'GolosText';
    &__title-main{
        font-family: 'ElMessiri';
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 18px;
        @media (max-width: 376px) {
            font-size: 24px;
        }
    }
    &__wrap{
        display: flex;
        @media (max-width: 376px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    &__box{
        max-width: 260px;
        background-color: black;
        border: 3px #525252 solid;
        border-radius: 15px;
        margin-right: 47.6px;
        margin-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .3s ease;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            transform: scale(1.1);
        }
        &-img{
            width: 250px;
            border-radius: 20px;
            @media (max-width: 376px) {
                width: 120px;
                border-radius: 10px;
            }
        }
        &-title{
            margin-top: 18px;
            margin-bottom: 18px;
            font-weight: 400;
            font-size: 32px;
            @media (max-width: 376px) {
                font-size: 21px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &-sovet{
                font-size: 25px;
                @media (max-width: 376px) {
                    font-size: 15px;
                }
            }
            
        }
        &-text{
            text-align: center;
            color: #F2C172;
            font-weight: 400;
            font-size: 20px;
            @media (max-width: 376px) {
                font-size: 14px;
            }
        }
        &_small{
            max-width: 190px;
            margin-right: 58px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: black;
            border: 3px #525252 solid;
            border-radius: 15px;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
            &:last-child{
                margin-right: 0;
            }
            &-title{
                font-weight: 400;
                font-size: 16px;
                margin-top: 5px;
                margin-bottom: 16px;
            }
            &-text{
                color: #F2C172;
                font-weight: 400;
                font-size: 15px;
                display: flex;
                text-align: center;
                @media (max-width: 376px) {
                    font-size: 13px;
                }
            }
            &-img{
                width: 182px;
                border-radius: 15px;
                @media (max-width: 376px) {
                    width: 130px;
                }
            }
            @media (max-width: 376px) {
                max-width: 140px;
                margin-right: 0;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 376px) {
            max-width: 160px;
            margin-right: 0;
        }
    }
    &__block{
        &_wrap{
            @media (max-width: 376px) {
                
            }
        }
        display: flex;
        @media (max-width: 376px) {
            display: flex;
            max-width: 375px;
            justify-content: space-around;
        }
    }
}
.shaurma{
    padding-bottom: 38px;
    font-family: 'GolosText';
    &__title{
        font-family: 'ElMessiri';
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 24px;
        @media (max-width: 376px) {
            font-size: 24px;
        }
    }
    &__wrap{
        display: flex;
        @media (max-width: 376px) {
            display: flex;
            justify-content: space-around;
        }
    }
    &__box{
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border: 3px #525252 solid;
        border-radius: 15px;
        transition: all .3s ease;
        margin-right: 75px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            transform: scale(1.1);
        }
        &-img{
            width: 230px;
            border-radius: 20px;
            @media (max-width: 376px) {
                width: 120px;
                border-radius: 15px;
            }
        }
        &-title{
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 25px;
            &-classic{
                font-size: 18px;
            }
            @media (max-width: 376px) {
                font-size: 18px;
                text-align: center;
            }
        }
        &-text{
            display: flex;
            text-align: center;
            color: #F2C172;
            @media (max-width: 376px) {
                font-size: 12px;
            }
            &-small{
                @media (max-width: 376px) {
                    font-size: 10px;
                    margin-top: -10px;
                }
            }
        }
        @media (max-width: 376px) {
            max-width: 130px;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}
.hot-dog{
    padding-bottom: 40px;
    font-family: 'GolosText';
    &__title{
        font-family: 'ElMessiri';
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 24px;
        @media (max-width: 376px) {
            font-size: 24px;
        }
    }
    &__wrap{
        display: flex;
        @media (max-width: 376px) {
            align-items: center;
            display: flex;
            justify-content: space-around;
        }
    }
    &__box{
        max-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border: 3px #525252 solid;
        border-radius: 15px;
        transition: all .3s ease;
        margin-right: 205px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            transform: scale(1.1);
        }
        &-img{
            width: 250px;
            border-radius: 20px;
            @media (max-width: 376px) {
                width: 130px;
                border-radius: 15px;
            }
        }
        &-title{
            font-weight: 400;
            font-size: 25px;
            max-width: 190px;
            margin-bottom: 13px;
            text-align: center;
            @media (max-width: 376px) {
                font-size: 17px;
            }
        }
        &-text{
            font-weight: 400;
            font-size: 20px;
            display: flex;
            text-align: center;
            color: #F2C172;
            @media (max-width: 376px) {
                font-size: 14px;
            }
        }
        @media (max-width: 376px) {
            max-width: 140px;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}
.sandwich{
    padding-bottom: 100px;
    font-family: 'GolosText';
    &__wrap{
        display: flex;
        @media (max-width: 376px) {
            align-items: center;
            justify-content: space-around;
        }
    }
    &__title{
        font-family: 'ElMessiri';
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 40px;
        @media (max-width: 376px) {
            font-size: 24px;
        }
    }
    &__box{
        max-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border: 3px #525252 solid;
        border-radius: 15px;
        transition: all .3s ease;
        margin-right: 207px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            transform: scale(1.1);
        }
        &-img{
            width: 250px;
            border-radius: 20px;
            @media (max-width: 376px) {
                width: 120px;
                border-radius: 15px;
            }
        }
        &-title{
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 20px;
            @media (max-width: 376px) {
                text-align: center;
                font-size: 14px;
            }
            &-1{
                font-size: 21px;
                @media (max-width: 376px) {
                    text-align: center;
                    font-size: 19px;
                }
            }
            &-2{
                font-size: 19px;
                @media (max-width: 376px) {
                    text-align: center;
                    font-size: 15px;
                }
            }
        }
        &-text{
            font-weight: 400;
            font-size: 20px;
            display: flex;
            text-align: center;
            color: #F2C172;
            @media (max-width: 376px) {
                font-size: 14px;
            }
        }
        @media (max-width: 376px) {
            max-width: 130px;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}